{% assign page_size = 4 %} {% assign all_post_urls = page.related_posts %} {%-
assign all_pages = site.pages | where_exp: "p", "all_post_urls contains p.url"
-%} {%- assign sorted_pages = all_pages | sort: "date" | reverse -%} {% assign
start_index = page.current_page | minus: 1 | times: page_size %} {% assign
paginated_pages = sorted_pages | slice: start_index, page_size %}

<ul class="search-results">
  {% for related_page in paginated_pages %}
  <li class="search-item">
    <a href="{{ related_page.url }}" class="search-link">
      <h3>{{ related_page.title }}</h3>
      <p class="description">{{ related_page.description }}</p>
      <span class="date">{{ related_page.date | date: "%Y-%m-%d" }}</span>
    </a>
  </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if page.current_page > 1 %}
  <a
    href="/document/be/{% if page.current_page == 2 %}{% else %}page{{ page.current_page | minus: 1 }}/{% endif %}"
    class="previous"
    >이전</a
  >
  {% endif %} {% assign total_pages = sorted_pages.size | divided_by: page_size
  | ceil %} {% if page.current_page < total_pages %}
  <a href="/document/be/page{{ page.current_page | plus: 1 }}/" class="next"
    >다음</a
  >
  {% endif %}
</div>
